:root {
  --primary1: #ffa069;
  --primary2: #57007e;
  --secondary: #c400c6;
  --accent: #090057;
}
.container,
.App {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 10vh;
}
.flex {
  display: flex;
}
.center {
  align-items: center;
  justify-content: center;
}
.main-key {
  flex-direction: column;
}
.prev-keys {
  gap: 2vw;
  width: 100%;
}
.prev-track {
  gap: 2vw;
  width: 70%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}
.prev-track::-webkit-scrollbar {
  display: none;
}
.prev {
  flex-direction: column;
}
.prev-head {
  text-transform: uppercase;
}
