@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Fredoka", sans-serif;
  box-sizing: border-box;
}
::-moz-selection {
  color: #57007e;
  background: #ffa069;
}
/* Code for Firefox */
::selection {
  color: #57007e;
  background: #ffa069;
}
